<h1>
      <span class="label label-primary"><%= @post.title %></span>  
        <% if user_signed_in? %> 
          <% if current_user.admin %>
             <small><%= link_to '    edit', edit_post_path(@post) %></small>
          <% end %> 
		<% end %> 	
		
</h1>



 
<p><span class="label label-default"><%= markdown(@post.body)%></span></p>
